@model Xc.Tonglian.Web.Models.Dto.Account.AccountSearch
@{
}
<section class="main padder">
    <div class="clearfix">
        <h4><i class="icon-edit"></i>账户管理</h4>
    </div>
    <div class="row">

        <div class="col-lg-12">

            <section class="toolbar clearfix m-t-large m-b">
                <a title="添加账户" data-src="/Account/Add" class="btn btn-info btn-circle active"><i class="icon-plus"></i>添加账号</a>
            </section>

        </div>

        <div class="col-lg-12">

            <section class="panel">

                <header class="panel-heading">
                    账户列表
                </header>

                <div class="row text-small">
                    <form data-ajax="true" data-ajax-update="#divlist" data-ajax-mode="replace" asp-action="DoList" id="newform" asp-controller="Account" data-ajax-method="post">
                        <div class="col-lg-8 m-b-mini">
                            <input type="text" name="Name" class="input-small inline form-control" style="width:330px" placeholder=" 账户名称">
                            <button type="submit"
                                    class="btn btn-small  btn-inverse">
                                查询
                            </button>

                        </div>
                    </form>
                </div>
                <div id="divlist" style="margin-top: 10px;">
                    @Html.Action("DoList", Model)
                </div>
            </section>
        </div>
    </div>
</section>

