
@model Xc.Tonglian.Web.Models.Dto.Merchant.MerchantCreateDto
@{
    Layout = null;
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <form class="form-horizontal" data-ajax="true" data-ajax-complete="completed" asp-action="DoAdd" id="newform" asp-controller="Merchant" data-ajax-method="post">
                <div class="form-group">
                    <label class="col-lg-3 control-label">注册号</label>
                    <div class="col-lg-8">
                        <input asp-for="RegId" class="bg-focus form-control parsley-validated" />
                        <span asp-validation-for="RegId" class="text-danger"> </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">客户号</label>
                    <div class="col-lg-8">
                        <input asp-for="CusId" class="bg-focus form-control parsley-validated" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">商户名称</label>
                    <div class="col-lg-8">
                        <input asp-for="MerName" class="bg-focus form-control parsley-validated" />
                        <span asp-validation-for="MerName" class="text-danger"> </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">业务地区</label>
                    <div class="col-lg-8">
                        <input asp-for="AreaCode" class="bg-focus form-control parsley-validated" />
                        <span asp-validation-for="AreaCode" class="text-danger"> </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">归属机构</label>
                    <div class="col-lg-8">
                        <input asp-for="OrganId" class="bg-focus form-control parsley-validated" />
                        <span asp-validation-for="OrganId" class="text-danger"> </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">开通产品</label>
                    <div class="col-lg-8">
                        <input asp-for="Products" class="bg-focus form-control parsley-validated" />
                        <span asp-validation-for="Products" class="text-danger"> </span>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-lg-9 col-offset-3">

                        <button type="submit" class="btn btn-primary">保存</button>
                        <a type="submit" href="/Merchant" class="btn btn-default">返回</a>
                    </div>

                </div>
            </form>
        </section>
    </div>
</div>
<script>
    var completed = function (xhr) {
        debugger;
        if (xhr.responseText == "true") {
            $.tipsOk("操作成功！");
            setTimeout(function () {
                window.location = window.location;
            }, 1500);
        } else {
            $.tipsError("修改失败");
        }
    };

    $(function () {
        $("#ScrapTime").each(function (p, obj) { $(obj).datepicker(); });
    })
</script>
