
@model Xc.Tonglian.Web.Models.Dto.Merchant.MerchantCreateDto
@{
    Layout = null;
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <form class="form-horizontal" data-ajax="true" data-ajax-complete="completed" asp-action="DoAdd" id="newform" asp-controller="Merchant" data-ajax-method="post">
                <div class="form-group">
                    <label class="col-lg-3 control-label">注册号</label>
                    <div class="col-lg-8">
                        <input asp-for="Mtid" class="bg-focus form-control parsley-validated" />
                        <span asp-validation-for="Mtid" class="text-danger"> </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">客户号</label>
                    <div class="col-lg-8">
                        <input asp-for="CusId" class="bg-focus form-control parsley-validated" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">商户名称</label>
                    <div class="col-lg-8">
                        <input asp-for="MerName" class="bg-focus form-control parsley-validated" />
                        <span asp-validation-for="MerName" class="text-danger"> </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">业务地区</label>
                    <div class="col-lg-8">
                        <input asp-for="AreaCode" class="bg-focus form-control parsley-validated" />
                        <span asp-validation-for="AreaCode" class="text-danger"> </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">归属机构</label>
                    <div class="col-lg-8">
                        <select asp-for="OrganId" class="bg-focus form-control parsley-validated">
                            <option value="1">通华</option>
                            <option value="0">通联</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">

                    <div class="col-lg-9 col-offset-3">
                        <button type="submit" class="btn btn-primary">保存</button>
                        <a type="submit" href="/Merchant" class="btn btn-default">返回</a>
                    </div>

                </div>
            </form>
        </section>
    </div>
</div>
<script>
    completed = function (xhr) {
        var rv = JSON.parse(xhr.responseText);
        if (rv.isSuccess) {
            console.log(xhr);
            $.tipsOk(rv.message);
            window.location = window.location;
        } else {
            $.tipsError(rv.message);
        }
    };
</script>
